body{
  font-family: Geist Mono, monospace;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

}

.info{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: black;
}

.game-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: black;

}

.player-selection{
  display: grid;
  grid: 100px / 100px 100px;
  row-gap: 5px;
  color: black;
  margin-top: 5px;
  margin-bottom: 25px;
  height: 30px;
}


.player-selection-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  border-radius: 15px;
  background-color: whtie;
}

.tic-tac-toe-grid{
  display: grid ;
  grid: 100px 100px 100px / 100px 100px 100px;
  row-gap: 5px;
  column-gap: 5px;
  background-color: black ;
  padding: 5px;

}

.tic-tac-toe-cell{
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
 
  width: 100px;
  height: 100px;
}

.tic-tac-toe-cell-text{
  display: flex;
  width: 100px;
  height: 100px;
  font-size: 90px;
  align-items: center;
  justify-content: center;
}